<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <span>Select from the following </span> -->
<section [formGroup]="amenities" class="group">
  <div style="display: flex; flex-direction: row;">
    <div class="plan-container">
      <p><mat-checkbox formControlName="wifi" [(ngModel)]="amenities.value.wifi"
        (ngModelChange)="emitData()">Wifi</mat-checkbox></p>
    </div>

    <div class="plan-container">
      <p><mat-checkbox formControlName="tv" [(ngModel)]="amenities.value.tv" 
        (ngModelChange)="emitData()">Tv</mat-checkbox></p>
    </div>
  </div>

  <div style="display: flex; flex-direction: row;">
    <div class="plan-container">
      <p><mat-checkbox formControlName="parking" [(ngModel)]="amenities.value.parking"
        (ngModelChange)="emitData()">Free parking on
          premises</mat-checkbox></p>
    </div>

    <div class="plan-container">
      <p><mat-checkbox formControlName="airConditioning" [(ngModel)]="amenities.value.airConditioning"
        (ngModelChange)="emitData()">Air
          Conditioning</mat-checkbox></p>
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin: 5px;">
    <button type="submit" (click)="emitData()" class="btn  text-dark px-5">Submit</button>
  </div>
  <!-- <button >Submit</button> -->
</section>