<meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="page">
        <div class="container">

            <div class="left-container">
                <span class="title">Start listing your house!</span>
            </div>

            <div class="right-container">
                <span class="text">1 Tell us about your place
                    <img class="about-photo" src="./assets/about1.png" alt="about">
                </span>
                <span class="text">2 Make it stand out
                    <img class="paintings-photo" src="./assets/paintings.png" alt="stand out">
                </span>
                <span class="text">3 Finish and publish
                    <img src="./assets/result.png" alt="publish">
                </span>


            </div>
        </div>

        <div class="btn-container">
            <button type="submit" class="submit-button" routerLink="/addListing">Start</button>
        </div>

    </div>