.mod-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: Garamond sans-serif;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
  border-radius: 50px;
}

button[mat-icon-button] {
  min-width: auto;
  width: 32px;
  height: 25px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: end;
  align-items: center;
}

.quantity-input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.quantity-btn {
  width: 20px;
  height: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.quantity-plus:before {
  content: "+";
  font-size: 10px;
}

.quantity-minus:before {
  content: "-";
  font-size: 15px;
}

.quantity-btn:before {
  display: block;
  text-align: center;
  line-height: 30px;
}

.quantity-btn:hover:before {
  color: #000;
}


.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

body {
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
  background: linear-gradient(to right, #ffd89b, #19547b);
  min-height: 100vh;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-group::placeholder {
  color: #aaa;
}

.icon i.fa-search {
  color: rgb(26, 19, 19);
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}