<div class="btn-container">
    <!-- <button type="submit" class="submit-button" style="float:left;" routerLink="/listingAmenities">&#8249;</button> -->
    <!-- <button type="submit" class="submit-button" style="float:left;" [routerLink]="prevPageUrl">&#8249;</button> -->
    <!-- <button type="submit" class="submit-button" style="float:right;" [routerLink]="nextPageUrl">&#8250;{{nextPageButton}}</button> -->
    <button type="submit" class="submit-button" style="float:left;" [routerLink]="prevPageUrl">{{prevPageText}}</button>
    <button type="submit" class="submit-button" style="float:right;" [routerLink]="nextPageUrl">{{nextPageText}}</button>
  </div>
